{% extends "base.html" %}

{%block title%}About me{% endblock %}
{%block info%}
    <img src="static/about.jpg">
    <div class="info_about_me">
        Mariia Kuryshchuk,  {{age}} years old<br>
        I'm a third year student of Precarpathian National University<br>
        My major is Software Engineering<br>
        I work as a Support Agent at SoftServe<br>
        My dream job is Product Manager<br>
        I like travelling<br>
        Do some sports<br>
        And love singing and dancing<br>
    </div>
{% endblock %}